
/** STYLE FOR PARSLEY VALIDATION LIBRARY **/
.parsley-errors-list {
    display: none !important;
}
/** STYLE FOR VALIDATION TOOLTIP **/
[data-hint]:after {
    font-size: 0.8em !important;
}
label[data-hint]:after {
    font-size: 1em !important;
}


/** MODAL LOADER STYLE BEGINS **/
#loader-modal-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}
#loader-modal-icon {
    -webkit-flex-grow: 3;
    flex-grow: 3;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    width: 30%;
}
#loader-modal-message {
    -webkit-flex-grow: 7;
    flex-grow: 7;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    width: 70%;
}
#loader-modal .dialog-container--material {
    background-color: #000000;
}
/** MODAL LOADER STYLE ENDS **/


/** STYLE FOR THE USER SIGIN-IN PAGE INPUT FIELD BEGINS **/
#user-phone .text-input--material{
    text-align: center;
    color: #311b92;
}
#secure-pin .text-input--material{
    -webkit-text-security: disc;
    text-align: center;
    color: #311b92;
}
#user-phone .text-input--material__label{
    color: #311b92;
}
#secure-pin .text-input--material__label{
    color: #311b92;
}

/** STYLE FOR THE USER SIGIN-IN PAGE INPUT FIELD ENDS **/


/** STYLE FOR THE SIGN-IN PAGE ICON ANIMATION BEGINS **/
#sign-in-page ons-icon.first {
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 3;
}
#sign-in-page ons-icon.second {
    -webkit-animation-delay: 1.4s;
    -webkit-animation-iteration-count: 4;
}
/** STYLE FOR THE SIGN-IN PAGE ICON ANIMATION ENDS **/

#forgot-pin-popover .popover--material__content {
    background-color: rgb(237, 231, 246);
    color: #311b92;
}


/** STYLE FOR CREATE ACCOUNT PAGE BEGINS **/
#create-account-page #create-secure-pin {
    -webkit-text-security: disc;
}
/** STYLE FOR CREATE ACCOUNT PAGE ENDS **/


/** STYLE FOR THE USER RESET-PIN PAGE INPUT FIELD BEGINS **/
#reset-user-phone .text-input--material{
    text-align: center;
    color: #311b92;
}
#reset-master-code .text-input--material{
    -webkit-text-security: disc;
    text-align: center;
    color: #311b92;
}
/** STYLE FOR THE USER SIGIN-IN PAGE INPUT FIELD ENDS **/


/** STYLE FOR ONBOARDING PAGE BEGINS **/
#onboarding-page .page--material__background {
    background-image: -webkit-linear-gradient(top, #EDE7F6 0%, #cebfff 35%, #EDE7F6 37%, #b388ff 100%);
}
/** STYLE FOR ONBOARDING PAGE ENDS **/


/** STYLE FOR MAIN MENU PAGE BEGINS **/
#main-menu-page .page--material__background {
    background-color: #EDE7F6;
}
/** STYLE FOR MAIN MENU PAGE ENDS **/


/** STYLE FOR BANK SELECT ELEMENT IN VERIFY ACCOUNT PAGE BEGINS **/
#verify-account-page .page--material__content .dropdown-content{
    max-height: 200px !important;
    overflow-y: scroll;
    background-color: rgb(237,231,246);
}
#verify-account-page .page--material__content .dropdown-content li:hover,
#verify-account-page .page--material__content .dropdown-content li.active,
#verify-account-page .page--material__content .dropdown-content li.selected {
    background-color: #b388ff;
}
#verify-account-page .page--material__content .dropdown-content li.active.selected {
    background-color: #b388ff;
}
#verify-account-page .page--material__content .dropdown-content li:hover > span,
#verify-account-page .page--material__content .dropdown-content li.active > span,
#verify-account-page .page--material__content .dropdown-content li.selected > span,
#verify-account-page .page--material__content .dropdown-content li:hover > a,
#verify-account-page .page--material__content .dropdown-content li.active > a,
#verify-account-page .page--material__content .dropdown-content li.selected > a {
    color: #ffffff;
}
#verify-account-page .page--material__content .dropdown-content li.active.selected > span,
#verify-account-page .page--material__content .dropdown-content li.active.selected > a {
    color: #ffffff;
}
/** STYLE FOR BANK SELECT ELEMENT IN VERIFY ACCOUNT PAGE ENDS **/


/** STYLE FOR ONS-LIST ELEMENT IN VERIFY ACCOUNT PAGE BEGINS **/
#verify-account-page .page--material__content ons-list{
    min-height: 16em !important;
}
/** STYLE FOR ONS-LIST ELEMENT IN VERIFY ACCOUNT PAGE ENDS **/


/** STYLE FOR VERIFY ACCOUNT BOTTOM SHEET IN VERIFY ACCOUNT PAGE BEGINS **/
#verify-account-bottom-sheet.modal.bottom-sheet {
    max-height: 60%;
}
#verify-account-bottom-sheet.modal.bottom-sheet ons-list {
    background-color: inherit;
}
#verify-account-bottom-sheet.modal .modal-content {
    padding: 0;
}
/** STYLE FOR VERIFY ACCOUNT BOTTOM SHEET IN VERIFY ACCOUNT PAGE ENDS **/


/** STYLE FOR SIDE MENU PAGE BEGINS **/
#side-menu-page .page--material__background {
    background-color: #EDE7F6;
}
/** STYLE FOR SIDE MENU PAGE ENDS **/


/** STYLE FOR PIN SECURITY CHECK PROMPT DIALOG BEGINS **/
#pin-security-check input{
     -webkit-text-security: disc;
     text-align: center;
     color: #311b92;
 }
/** STYLE FOR PIN SECURITY CHECK PROMPT DIALOG ENDS **/


/** STYLE FOR MY CARDS PAGE BEGINS **/
#my-cards-help-1 {
    background-color: #82b1ff;
}
#my-cards-page-help-popover,
#my-cards-page-help-popover .popover__content {
    background-color: #82b1ff;
}
#my-cards-page-help-popover .popover__arrow,
#my-cards-page-help-popover .popover--right__arrow {
    background-image: linear-gradient(45deg, #82b1ff, #82b1ff 50%, #82b1ff 50%);
}
#my-cards-add-card-button {
    background-color: rgb(179, 136, 255);
}
#my-cards-pull-hook-fab ons-icon[spin] {
    -webkit-animation: ons-icon-spin 0.8s infinite linear;
    -moz-animation: ons-icon-spin 0.8s infinite linear;
    animation: ons-icon-spin 0.8s infinite linear;
}
/** STYLE FOR MY CARDS PAGE ENDS **/


/** STYLE FOR ADD CARD PAGE BEGINS **/
#add-card-page .page--material__content {
    position: absolute;
    top: 0;
}
/** STYLE FOR ADD CARD PAGE ENDS **/


/** STYLE FOR SELECT ELEMENTS IN ADD CARD PAGE BEGINS **/
#add-card-page .page--material__content .dropdown-content{
    max-height: 200px !important;
    overflow-y: scroll;
    background-color: rgb(237,231,246);
}
#add-card-page .page--material__content .dropdown-content li:hover,
#add-card-page .page--material__content .dropdown-content li.active,
#add-card-page .page--material__content .dropdown-content li.selected {
    background-color: #b388ff;
}
#add-card-page .page--material__content .dropdown-content li.active.selected {
    background-color: #b388ff;
}
#add-card-page .page--material__content .dropdown-content li:hover > span,
#add-card-page .page--material__content .dropdown-content li.active > span,
#add-card-page .page--material__content .dropdown-content li.selected > span,
#add-card-page .page--material__content .dropdown-content li:hover > a,
#add-card-page .page--material__content .dropdown-content li.active > a,
#add-card-page .page--material__content .dropdown-content li.selected > a {
    color: #ffffff;
}
#add-card-page .page--material__content .dropdown-content li.active.selected > span,
#add-card-page .page--material__content .dropdown-content li.active.selected > a {
    color: #ffffff;
}
/** STYLE FOR SELECT ELEMENTS IN ADD CARD PAGE ENDS **/


/** STYLE FOR ROTATING ANIMATION FOR ELEMENTS BEGINS **/
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating-infinite-ease-in-3 {
    -webkit-animation: rotating 3s ease-in infinite;
    -moz-animation: rotating 3s ease-in infinite;
    -ms-animation: rotating 3s ease-in infinite;
    -o-animation: rotating 3s ease-in infinite;
    animation: rotating 3s ease-in infinite;
}
/** STYLE FOR ROTATING ANIMATION FOR ELEMENTS ENDS **/


/** STYLE FOR MY ACCOUNTS PAGE BEGINS **/
#my-accounts-page .card.horizontal .card-image { /** control the size of the profile/avatar photos used in the cards **/
    max-width: 40%;
}
#my-accounts-help-1 {
    background-color: #82b1ff;
}
#my-accounts-page-help-popover,
#my-accounts-page-help-popover .popover__content {
    background-color: #82b1ff;
}
#my-accounts-page-help-popover .popover__arrow,
#my-accounts-page-help-popover .popover--right__arrow {
    background-image: linear-gradient(45deg, #82b1ff, #82b1ff 50%, #82b1ff 50%);
}
#my-accounts-add-account-button {
    background-color: rgb(179, 136, 255);
}
#my-accounts-pull-hook-fab ons-icon[spin] {
    -webkit-animation: ons-icon-spin 0.8s infinite linear;
    -moz-animation: ons-icon-spin 0.8s infinite linear;
    animation: ons-icon-spin 0.8s infinite linear;
}
/** STYLE FOR MY ACCOUNTS PAGE ENDS **/

/** STYLE FOR ADD ACCOUNT PAGE BEGINS **/
#add-account-page .page--material__content {
    position: absolute;
    top: 0;
}
/** STYLE FOR ADD ACCOUNT PAGE ENDS **/

/** STYLE FOR BANK SELECT ELEMENT IN ADD ACCOUNT PAGE BEGINS **/
#add-account-page .page--material__content .dropdown-content{
    max-height: 200px !important;
    overflow-y: scroll;
    background-color: rgb(237,231,246);
}
#add-account-page .page--material__content .dropdown-content li:hover,
#add-account-page .page--material__content .dropdown-content li.active,
#add-account-page .page--material__content .dropdown-content li.selected {
    background-color: #b388ff;
}
#add-account-page .page--material__content .dropdown-content li.active.selected {
    background-color: #b388ff;
}
#add-account-page .page--material__content .dropdown-content li:hover > span,
#add-account-page .page--material__content .dropdown-content li.active > span,
#add-account-page .page--material__content .dropdown-content li.selected > span,
#add-account-page .page--material__content .dropdown-content li:hover > a,
#verify-account-page .page--material__content .dropdown-content li.active > a,
#add-account-page .page--material__content .dropdown-content li.selected > a {
    color: #ffffff;
}
#add-account-page .page--material__content .dropdown-content li.active.selected > span,
#add-account-page .page--material__content .dropdown-content li.active.selected > a {
    color: #ffffff;
}
/** STYLE FOR BANK SELECT ELEMENT IN ADD ACCOUNT PAGE ENDS **/


/** STYLE FOR ONS-LIST ELEMENT IN ADD ACCOUNT PAGE BEGINS **/
#add-account-page .page--material__content ons-list{
    min-height: 16em !important;
}
/** STYLE FOR ONS-LIST ELEMENT IN ADD ACCOUNT PAGE ENDS **/
